body {
  background-image: url(fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 900px;
  margin: auto;
  min-height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  padding: 15px;
}

header {
  background-color: #df8090;
  border-radius: 15px;
  text-align: center;
  color: white;
  border: solid 4px #000000;

}

.all {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
}

.box {
  border: 3px solid #f47979;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  background-color: #fff8eb;
  color: #866060;
}

textarea[name="user-input"] {
  background-color: #fff;
  height: auto;
  border-radius: 5px;
  border-color: #bc8f8f;
  border-width: 5px;
}

footer {
  color: #9a1342;
  height: 90px;
  text-align: center;
  margin-top: 10%;
}

#reset-button {
  background-color: #91e5de;
  color: #444381;
  height: 70px;
  width: 180px;
  border: 3px solid #4BCFC4;
  border-radius: 20px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 526;

}